* {
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}

.converter h2{
  margin: 5px 0px;
}

.coin-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0px;
}
.coin-container input {
  height: 20px;
  border: 1px solid gray;
}
.styleSelect {
  width: 90px;
}